<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список студентов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>

<div class="container mt-5">
    <a href="/courses/add" class="btn btn-success">Добавить новый курс</a>
    <h1>Список курсов</h1>
    <div th:each="el: ${courses}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <a th:href="'/courses/'+${el.id}" class="btn btn-warning">Детальнее</a>
        <a th:href="'/courses/'+${el.id} + '/enroll'" class="btn btn-warning">Записать студентов на курс</a>
        <a th:href="'/courses/'+${el.id} + '/students'" class="btn btn-warning">Студенты, проходящие курс</a>
    </div>
</div>
</body>
</html>