<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>


<div class="container mt-5">
    <h1>Загрузка преподавательского состава</h1>
    <div th:each="el: ${professors}" class="alert alert-info mt-2">
        <h3 th:text="'Профессор: ' + ${el.fio}"/>
        <h3 th:text="'Общее количество студентов: ' + ${el.students}"/>
        <h3 th:text="'Средний балл всех студентов: ' + ${el.average_score}"/>
    </div>
</div>

</body>
</html>