<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header::header"></header>


<div class="container mt-5 mb-5">
    <h1>Добавление студента</h1>
    <form action="/students/add" method="post">
        <label>Введите имя студента</label>
        <input type="text" name="fio" placeholder="Введите имя студента" class="form-control"><br>
        <label>Введите email студента</label>
        <input type="text" name="email" placeholder="Введите email студента" class="form-control"><br>
        <label>Введите адрес студента</label>
        <input type="text" name="adres" placeholder="Введите адрес студента" class="form-control"><br>
        <label>Введите телефон студента</label>
        <input type="text" name="phone" placeholder="Введите телефон студента" class="form-control"><br>
        <label>Введите номер зачетной книжки студента</label>
        <input type="text" name="record_book" placeholder="Введите номер зачетной книжки студента" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить студента</button>

    </form>
</div>

</body>
</html>